body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
    color: black;
    text-decoration: none;
}

.brand {
  display: flex;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

nav li {
  list-style: none;
}

nav li:first-child {
  margin-right: 1.9rem;
}

.banner {
  background: url("/images/backgroung_image.jpg") no-repeat;
  background-size: cover;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner img {
    width: 200px;
    height: auto;
}

.banner h1 {
    color: white;
    font-size: 2rem;
    font-weight: normal;
}

.content {
    margin: 0 auto;
    max-width: 810px;
}

.content h2 {
    margin-top: 3.2rem;
    font-weight: normal;
    color: #575757;
    font-size: 1.4rem;
}

.services {
    display: flex;
    margin-bottom: 3.5rem;
    margin-top: 2.4rem;
}

.services div {
    width: 40%;
    padding: 0.9em 0.5em;
}

.services div:last-child {
  width: 20%
}

.services h3 {
    font-weight: normal;
    font-size: 1.4rem;
    margin-top: 0.9rem;
    margin-bottom: 2rem;
}

.services p {
    font-size: 0.80rem;
}

.avis {
    max-width: 75%;
    margin: 0 auto;
}

.avis p q {
    font-weight: normal;
    font-size:1.3rem;
    color: #575757;
}

.avis p {
    font-weight: 100; 
}

footer {
  background-color: #5B359D;
  color: white;
  padding-top: 0.5rem;
}

footer a {
  text-decoration: none;
  color: white;
}

footer li {
  text-align: left;
}


.footer-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.8rem;
}

footer h4 {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
} 

.rs-icones {
  width:30%;
  display: flex;
  justify-content: space-around;
}

.footer-links {
  display:flex;
  justify-content: space-around;
}


i {
  color: #BDAED8;
  margin-right: 1em;
}

.footer-label {
  color: #BDAED8;
  text-align: left;
}

.footer-coords {
  text-align: left;
  margin-left: 2rem;
}

